body {
  margin: 0;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.container {
  width: 16rem;
  border: 1px solid black;
  margin: 0 auto;
  padding: 5px;
}

.display-input {
  border: 1px solid black;
  height: 5rem;
  position: relative;
  margin-bottom: 5px;
}

input {
  border: none;
  width: 100%;
  text-align: right;
  padding-right: 1rem;
  box-sizing: border-box;
}

.first-input {
  font-size: 2rem;
  margin-top: 5px;
  bottom: 0;
  right: 0;
}

.second-input {
  font-size: 1.4rem;
}

.control {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
}

button {
  height: 3rem;
  width: 3rem;
  box-sizing: border-box;
  margin: 7px;
  font-size: 1.2rem;
}
